{% block cards %}
<div class="mt-2 col-md-12"></div>
    <div class="card-columns">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">Number of added hosts</p>
                <p class="h2">451</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <p class="card-text">Number of running tasks</p>
                <p class="h2">10</p>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <p class="card-text">Number of failed backups</p>
                <p class="h2">1</p>
            </div>
        </div>
    </div>
{% endblock %}