{% extends 'base.html' %}
{% block container %}
{% include 'cards.html' %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Hostname</th>
      <th scope="col">IP</th>
      <th scope="col">OS</th>
      <th scope="col">Status</th>
      <th scope="col">Last Changed</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Router1</td>
      <td>1.1.1.1</td>
      <td>IOS</td>
      <td>OK</td>
      <td>2019.01.01 14:33</td>
      <td>LatestConfig Backup</td>
    </tr>
    <tr>
      <td>Firewall1</td>
      <td>3.4.5.6</td>
      <td>ASA</td>
      <td>WIP</td>
      <td>2012.01.01 14:33</td>
      <td>LatestConfig Backup</td>
    </tr>

  </tbody>
</table>
{% endblock %}