{% extends 'home.html' %}


{% block container %}
<form method="POST" action="{{ url_for('auth.login') }}" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
    <div class="col-md-4 mb-3">
        <label for="username" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="password" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <label for="inputState" class="col-sm-2 col-form-label">Auth-Method</label>
        <div class="col-sm-10">
            <select id="inputState" class="form-control" name="authmethod">
                <option selected>LDAP</option>
                <option>Local</option>
            </select>
        </div>
    </div>
     <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Sign in</button>
     </div>
    </div>
</form>
{% endblock %}