{% extends 'admin/base.html' %}
{% block container %}

{% include 'cards.html' %}
{% include 'admin/nav.html' %}
<table class="table table-hover">
<thead class="thead-dark ">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
<tbody>
    {% for key, value in  config.items() %}
        <tr>
        <td> {{ key }}</td>
        <td> {{ value }}</td>
        </tr>

    {% endfor %}
</tbody>
</table>
{% endblock %}