{% extends 'admin/base.html' %}
{% block container %}

{% include 'cards.html' %}
{% include 'admin/nav.html' %}

    <table class="table table-hover">
        <thead class="thead-dark ">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">IsAdmin</th>
            <th scope="col">Authentication</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <td> {{ user.id }}</td>
            <td> {{ user.username }}</td>
            <td> {{ user.is_admin }}</td>
            <td> {{ user.auth_method }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}