{% block admin_nav %}


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.configuration') }}">Configuration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.user') }}">Add new user</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.users') }}">List users</a>
  </li>
</ul>

{% endblock %}