{% extends 'admin/base.html' %}
{% block container %}

{% include 'cards.html' %}
{% include 'admin/nav.html' %}
    <div class="container">
<form method="POST" action="{{ url_for('admin.user') }}" role="form">
    {{ form.csrf_token }}
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" name="username" id="formGroupExampleInput" placeholder="Username for the new user">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" name="password" id="formGroupExampleInput2" placeholder="Password for the new user">
  </div>
    <div class="form-group">
    <label for="auth_method">Authentication method</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="auth_method">
        <option>local</option>
        <option>ldap</option>
    </select>
  </div>
    <div class="form-group">
    <label for="is_admin">Is Admin</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="is_admin">
        <option>false</option>
        <option>true</option>
    </select>
  </div>
      <button type="submit" class="btn btn-primary">Add</button>

</form>
</div>
{% endblock %}